.main {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    height: 100vh;             
}
.errors {
    color: red;
    font-size: 0.9em;
    margin-bottom: 5px;
}